@tailwind base;
@tailwind components;
@tailwind utilities;
/* animation code */

.animation {
  cursor: pointer;
  animation: flot-infini 2s ease-in-out 0s infinite;
  -webkit-animation: flot-infini 2s ease-in-out 0s infinite;
}
@keyframes flot-infini {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
